.contact-main{
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;  
  margin-top: 60px; 
  width: 100%; 
  height:70vh; 
  font-weight: 700;
}

Form{   
  height:auto;  
  width:60%;  
  text-emphasis:strong;  
  opacity:0.9;   
}  
.button-div{
  display: flex; 
  justify-content: center; 
  align-items: center;
} 
.submit-button{
  font-size: .9rem; 
  font-weight: bold;
}