.nav{
  display: inline-flex;  
  align-content: center;
  width: 100%; 
  height: 100px;
  background: #37393A;
  border-bottom: 2px solid white;
  color:white;
}   
.nav a, .links {
  padding: 2px 15px;  
  align-self: center;
  text-decoration: none;
  color: white;
}  

.nav-home{
  font-size:30px; 
  color: white;
  margin: 0 20px;
} 
 
nav a:hover{
  border-bottom: 2px solid white;
}
