.about-main{
  display: flex; 
  flex-direction: column; 
  align-items: center;   
  width: 100%; 
  height:100vh; 
  text-align: center;  
  background-color: #0A100D;  
  color: #F9F9F9; 
  padding-top: 50px;
}  
.info{  
  width:90%;
  border:2px solid black; 
  margin-bottom: 40px; 

}

.resume-button{
  font-size: 1.2rem;
} 

.about-title{ 
  font-size: 2rem; 
  padding-bottom: 0;  
} 

.paragraph{  
  font-weight: 700;
  text-indent: 20px;  
  padding:30px;
  text-align: left;
} 

@media screen and (max-width: 900px){
  .about-main{
    display: flex; 
    flex-direction: column; 
    align-items: center;   
    padding-top: 50px;
    /* margin-top: 70px;   */
    width: 100%; 
    height:100vh; 
    text-align: center; 
  }   
  .paragraph{  
    font-weight: 700;
    text-indent: 20px;  
    padding:15px;
    text-align: left;
  } 
}